[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
nba-api = "*"
textdistance = {extras = ["jarowinkler"],version = "*"}
proxybroker = "*"
discord-py = "*"

[requires]
python_version = "3.7"
